<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>BidMe: <ui:insert name="title"/></title>
    </h:head>
    <h:body>
        <div name="header">
            <ui:fragment rendered="#{loginBean.loggedIn}">
                <h:panelGrid columns="5">
                    <ui:fragment>BidMe</ui:fragment>
                    User: <h:outputText value="#{loginBean.loggedInFullname}"/>
                    <h:form>
                        <h:commandLink value="Log out" action="#{loginBean.logout()}"/>
                    </h:form>
                    <h:link value="Add Product" outcome="editProduct"/>
                </h:panelGrid>
            </ui:fragment>
            <ui:fragment rendered="#{not loginBean.loggedIn}">
                BidMe
                <h:link value="Log in" outcome="login.xhtml"/>
            </ui:fragment>
            <hr/>
        </div>
        <ui:insert name="content"/>
    </h:body>
</html>

