<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="commonLayout.xhtml">
            <ui:define name="title">Create new user</ui:define>
            <ui:define name="content">
                <h3>Create new user</h3>
                <h:form>
                    Username: <h:inputText id="userName" value="#{createUserBean.username}"/><br/>
                    Password: <h:inputText id="password" value="#{createUserBean.password}"/><br/>
                    FirstName: <h:inputText id="firstName" value="#{createUserBean.firstName}"/><br/>
                    LastName: <h:inputText id="lastName" value="#{createUserBean.lastName}"/><br/>
                    street: <h:inputText id="street" value="#{createUserBean.street}"/><br/>
                    Postcode: <inputText id="postcode" value="#createUserBean.postcode"/><br/>
                     City: <inputText id="city" value="#createUserBean.city"/><br/>
                      country: <inputText id="country" value="#createUserBean.country"/><br/>
                       PhonePrefix: <inputText id="phonePrefix" value="#createUserBean.phonePrefix"/><br/>
                        PhoneNumber: <inputText id="phoneNumber" value="#createUserBean.phoneNumber"/><br/>
                    <h:commandButton id="submit" value="submit" action="#{createUserBean.postUser()}" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

