<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewParam name="productId" value="#{productDetailsBean.productId}"/>
        <f:viewAction action="#{productDetailsBean.init}" />
    </f:metadata>
    <h:head>
        <title>Edit product</title>
    </h:head>
    <h:body>
        <ui:composition template="commonLayout.xhtml">
            <ui:define name="title">Edit Product</ui:define>
            <ui:define name="content">
                <h:form>
                    <h:inputHidden id="productId" value="#{productDetailsBean.productId}"/>
                    Name: <h:inputText id="userName" value="#{productDetailsBean.name}"/><br/>
                    Description: <h:inputText id="description" value="#{productDetailsBean.description}"/><br/>
                    Start Date: <h:inputText id="auctionStartDate" value="#{productDetailsBean.auctionStartDate}"/><br/>
                    End Date: <h:inputText id="auctionEndDate" value="#{productDetailsBean.auctionEndDate}"/><br/>
                    Starting price: <h:inputText id="startPrice" value="#{productDetailsBean.startPrice}"/><br/>
                    Category: <h:selectOneMenu value="#{productDetailsBean.categoryId}">
                        <f:selectItems value="#{categoriesBean.categories}" var="category" itemValue="#{category.id}" itemLabel="#{category.categoryName}"/>
                    </h:selectOneMenu><br/>
                    <h:commandButton id="submit" value="Save" action="#{productDetailsBean.postProduct()}"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

