<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <ui:composition template="commonLayout.xhtml">
            <ui:define name="title">Welcome</ui:define>
            <ui:define name="content">
                <h3>Welcome to BidMe</h3>
                <ui:include src="searchBox.xhtml"/>
                Auctions:
                <ul>
                    <ui:repeat value="#{productsBean.getProducts(10)}" var="product">
                        <li>
                            <h:link value="#{product.name}" outcome="viewProduct">
                                <f:param name="productId" value="#{product.id}" />
                            </h:link>
                        </li>
                    </ui:repeat>
                </ul>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

