<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="commonLayout.xhtml">
            <ui:define name="title">Login</ui:define>
            <ui:define name="content">
                <h:form>
                    Username: <h:inputText id="userName" value="#{input1}"/><br/>
                    Password: <h:inputText id="password" value="#{input2}"/><br/>
                    <h:commandButton id="submit" value="Login" action="#{loginBean.login(input1, input2)}"/>
                </h:form>
                <!--form method="POST" action="j_security_check">
                    Username: <input type="text" name="j_username" />
                    Password: <input type="password" name="j_password" />
                    <br />
                    <input type="submit" value="Login" />
                    <input type="reset" value="Reset" />
                </form-->                
                Response: <h:outputText value="#{loginBean.response}"/><br/>
                <h:link outcome="createUser.xhtml" value="Create user"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

