<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewParam name="productId" value="#{productDetailsBean.productId}" required="true"/>
        <f:viewAction action="#{productDetailsBean.init}" />
    </f:metadata>
    <h:head>
        <title>View Product</title>
    </h:head>
    <h:body>
        <ui:composition template="commonLayout.xhtml">
            <ui:define name="title"><h:outputText value="#{productDetailsBean.name}"/></ui:define>
            <ui:define name="content">
                <h3><h:outputText value="#{productDetailsBean.name}"/></h3>
                Description: <h:outputText value="#{productDetailsBean.description}"/><br/>
                Auction start time: <h:outputText value="#{productDetailsBean.auctionStartDate}"/><br/>
                Auction end time: <h:outputText value="#{productDetailsBean.auctionEndDate}"/><br/>
                Starting price: <h:outputText value="#{productDetailsBean.startPrice}"/><br/>
                Seller: <h:outputText value="#{productDetailsBean.seller}"/><br/>
                Category: <h:outputText value="#{categoriesBean.getCategoryName(productDetailsBean.categoryId)}"/><br/>
                Current Bid: <h:outputText value="#{productDetailsBean.currentBid}"/><br/>
                <h:link value="Edit Product" outcome="editProduct" rendered="#{loginBean.loggedIn and loginBean.loggedInUserName eq productDetailsBean.seller}">
                    <f:param name="productId" value="#{productDetailsBean.productId}" />
                </h:link>
                <h:form>
                    <h:commandButton id="submit" value="Trigger auction end" action="#{productDetailsBean.triggerAuctionEnd(productDetailsBean.productId)}"/>
                </h:form>
                <ui:fragment rendered="#{loginBean.loggedIn and loginBean.loggedInUserName ne productDetailsBean.seller}">
                    <br/>
                    <h:form>
                        <h:inputText id="bidAmount" value="#{bidBean.amount}"/>
                        <h:commandButton id="submit" value="Place bid" action="#{bidBean.postBid(productDetailsBean.productId)}"/>
                    </h:form>
                </ui:fragment>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
