html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 70px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f04433;
    border-right: 1px solid #eee;
}

.main {
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
}

.navbar-fixed-bottom {
    padding-bottom: 30px;
    background-color: #eeeeee;
    z-index: 900;
}

a {
    color: #eeeeee;
}
